@import "_header";

body {
    font-size: 20px;
    div {
        font-size: 10px;
    }
}
h1 {
    color: #ffc0cb;
}
.block {
}
.block__item {
}
.block {

    &__item {
    }
}
.red{
    color:red;
}
@media (max-width:767px){
    .red {
        border:0;
    }
}